.git
.gitignore
.github
.env
.env.example
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.DS_Store
Thumbs.db
*.log
.vscode
.idea
*.swp
*.swo
*~
.phpunit.result.cache
.php_cs.cache
npm-debug.log
yarn-error.log
